name: CI-source

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'     
        required: true
        default: 'warning'
      tags:
        description: 'Test scenario tags'  
        required: true
        default: 'release'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Run a multi-line script
        run: |
          echo "Log level: ${{ github.event.inputs.logLevel == '' && 'test' || github.event.inputs.logLevel }}"
          echo "Tags: ${{ github.event.inputs.tags == '' && 'my-tag' || github.event.inputs.tags }}" 
